<!DOCTYPE html>
<html ng-app="translator">
<head>
	<title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="/scripts/main.js"></script>
</head>
<body ng-controller="quizMode">

	<input ng-hide="pairObj" ng-model="langA" type="text" placeholder="Language to Quiz">
	<button ng-click="setLanguage()" ng-hide="pairObj">Submit</button>

	<div ng-show="pairObj">
		<p>{{livequestion.question}}</p>
		<input type="text" ng-model="answer" placeholder="Answer" ng-hide="correctAnswer">
		<button ng-click="submitAnswer()" ng-show="correctAnswer">Submit</button>
		<p style="color: red" ng-show="isIncorrect">{{correctAnswer}}</p>
		<p style="color: green" ng-show="isCorrect">That's correct!</p>
	</div>

</body>
</html>