<!DOCTYPE html>
<html ng-app="translator">
<head>
	<title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="/scripts/main.js"></script>
</head>
<body ng-controller="quizMode">

	<div>
		<input ng-model="inputLangA" type="text" placeholder="From">
		<input ng-model="inputLangB" type="text" placeholder="To">
		<button ng-click="setLanguages()">Update Languages</button>
	</div>

	<div ng-show="pair">
		<p>{{pair.wordA}}</p>
		<input type="text" ng-model="answer" placeholder="Answer" ng-hide="correctAnswer">
		<button ng-click="submitAnswer()">Submit</button>

		<p style="color: green" ng-show="isCorrect">That's correct!</p>

		<p ng-show="isIncorrect"><span style="color: red">Incorrect.</span><br>
		Your answer: {{answer.toLowerCase()}}<br>
		Correct answer: {{pair.wordB}}</p>
	</div>

</body>
</html>